<a href="#tree/{{tree_id}}">Back to the family tree</a>
<form ng-submit="submit()">
    <div class="form-group row">
        <div class="col-sm-5">
            <label for="fullname" class="sr-only">Full name</label>
            <input type="text" class="form-control form-control-lg" id="fullname" ng-model="fullname" placeholder="Full name">
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-sm-2">
            <label for="birth" class="sr-only">Birth date</label>
            <input type="text" class="form-control" id="birth" ng-model="birth" placeholder="Birth date">
        </div>
        <div class="col-sm-1">
            <p class="form-control-plaintext text-center">&mdash;</p>
        </div>
        <div class="col-sm-2">
            <label for="death" class="sr-only">Death date</label>
            <input type="text" class="form-control" id="death" ng-model="death" placeholder="Death date">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="gender" class="col-sm-1 col-form-label">Gender:</label>
        <div class="col-sm-4">
            <select class="form-control" id="gender" ng-model="gender">
                <option ng-repeat="gend in genders" value="{{gend.id}}">{{gend.title}}</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="mother" class="col-sm-1 col-form-label">Mother:</label>
        <div class="col-sm-4">
            <select class="form-control" id="mother" ng-model="mother">
                <option ng-repeat="pers in people" value="{{pers.id}}">{{pers.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="father" class="col-sm-1 col-form-label">Father:</label>
        <div class="col-sm-4">
            <select class="form-control" id="father" ng-model="father">
                <option ng-repeat="pers in people" value="{{pers.id}}">{{pers.name}}</option>
            </select>
        </div>
    </div>

    <br><b>Children:</b>
    <ul class="tree" ng-repeat="child in person.children">
        <li class="{{child.gender.slug}}"><a href="#person/{{child.id}}">{{child.name}}</a> [<a href="#">x</a>]</li>
    </ul>
    <div class="form-group row">
        <div class="col-sm-5">
            <label for="child[1]" class="sr-only">Child's name</label>
            <input type="text" class="form-control" id="child[1]" placeholder="Child's name">
        </div>
    </div>
    <!-- When a child is entered, automatically add another child input (onchange) -->

    <br><b>Siblings</b>
    <ul class="tree" ng-repeat="sibling in person.siblings">
        <li class="{{sibling.gender.slug}}"><a href="#person/{{sibling.id}}">{{sibling.name}}</a> [<a href="#">x</a>]</li>
    </ul>
    <div class="form-group row">
        <div class="col-sm-5">
            <label for="sibling[1]" class="sr-only">Sibling's name</label>
            <input type="text" class="form-control" id="sibling[1]" placeholder="Sibling's name">
        </div>
    </div>
    <!-- When a sibling is entered, automatically add another sibling input (onchange) -->

    
    <br><b>Notes:</b>
    <div class="form-group row">
        <div class="col-sm-5">
            <label for="notes" class="sr-only">Notes</label>
            <textarea class="form-control" id="notes" ng-model="notes" rows="3"></textarea>
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-sm-5 text-right">
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>